html,
body {
    height: 100%;
}

.container {
    display: flex;
}

body {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 20px;
}

.gridNumbers {
    grid-template-columns: auto auto auto;
}

.gridOperators {
    grid-template-columns: auto auto;
}

.calculator {
    flex-direction: column;
}

.calculator,
.buttonZone {
    gap: 100px;
}